nav{
    ul{
        display: flex;
        list-style: none;
        margin-bottom: 0;
        li{
            list-style: none; 
            a{
                text-decoration: none;
            }
        }
    }
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.hamburger {
    display: none;
}